/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body { height: 100%; background-image:url("assets/img/sale_poster2.jpg")}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
/* .am1{ background-color: rgb(247, 88, 114);} */


